node_modules/
.next/
out/
dist/

.env
.env.local
.env.*.local


Digital_Twin_Development_Dashboard/App/backend/node_modules/
Digital_Twin_Development_Dashboard/App/backend/dist/
Digital_Twin_Development_Dashboard/App/backend/.env
Digital_Twin_Development_Dashboard/App/backend/firebase_creds.json


digital-twin-dashboard/node_modules/
digital-twin-dashboard/dist/
digital-twin-dashboard/.env
digital-twin-dashboard/firebase_creds.json


backend/.env
backend/firebase_creds.json
backend/dist/
backend/node_modules/

*.log
